 <!DOCTYPE html>
<html>
    <head>
        <title>잡동사니</title>
    </head>
    <body>
        <h1>롤전적 검색</h1><br/>
         <form action="/search">
                <b>ID</b><input type="text" name="userName">
                <input type="submit" value="검색">
         </form>
         
    </body>
</html>
    
 