 <!DOCTYPE html>
<html>
    <head>
        <title>잡동사니 홈페이지^.^</title>
    </head>
    <body>
        <h1>점심 메뉴 추천</h1><br/>
        <p>당신이 먹을 점심은: <%= @menu %></p> <!-- erb에서 루비코드 문법(puts 대신 =) -->
        <img src="<%= @photos[@menu] %>">
        
        
        
        


    </body>
</html>
    
 